<mat-card>
    <div class="container">
        <p>Historique</p>
    </div>
</mat-card>
<br>

<div class="container"  *ngIf="historique !== undefined">
  <mat-card>
        <h1>Numéro de compte : {{historique.accountBankid}}</h1>
        <p>Solde : {{historique.solde}}</p>
        <p>Découvert autorisé : {{historique.decouvert}}</p>
  </mat-card>
</div>
<br>


<div class="container" *ngIf="operationLightDTO !== undefined">

  <table mat-table [dataSource]="operationLightDTO" class="mat-elevation-z8 operation-table">
    <!-- Somme Column -->
    <ng-container matColumnDef="somme">
      <th mat-header-cell *matHeaderCellDef>Somme</th>
      <td mat-cell *matCellDef="let element">{{element.somme}}</td>
    </ng-container>
  
    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{element.dateOperation}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  </table>
  </div>